<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="settings.name"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="settings.name === ''">{{requiredNameFieldMsg}}</div>

    <ion-item>
      <ion-label floating>Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="settings.phone"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="settings.phone === ''">{{requiredPhoneFieldMsg}}</div>
    <div class="error-message" *ngIf="invalidPhoneFieldMsg !== '' && settings.phone !== ''">{{invalidPhoneFieldMsg}}</div>
  </ion-list>

  <div padding>
    <button secondary block (click)="saveSettings()">Save</button>
  </div>
</ion-content>
