<ion-header>
  <ion-navbar>
    <ion-title>Pasta Code</ion-title>
    <ion-buttons end>
      <button (click)="addMeal()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-list-header *ngIf="!orderTime">
    Create a new order for today ({{currentDate}})
  </ion-list-header>
  <ion-item *ngFor="let meal of meals" (press)="deleteMeal($event, meal)" class="light-grey">
    <span>{{meal.name}}</span>
    <ion-icon class="pointer-cursor light-black" item-right name="remove-circle" (click)="decreaseCount(meal)"></ion-icon>
    <span item-right>{{meal.count}}</span>
    <ion-icon class="pointer-cursor light-black" item-right name="add-circle" (click)="increaseCount(meal)"></ion-icon>
  </ion-item>

  <button full secondary (click)="showOrderConfirmation()">Send Message</button>
</ion-content>
